.container-fluid{
    display: block;
    margin: 30px;
    padding: 20px;
    border: 12px solid black;  
    width: 50%;
}
@keyframes .container-fluid {
    0% {top: 0px; bottom: 0px}
    25% {top: 0px; bottom: 200px}
    75% {top: 200px; bottom: 400px}
    100% {top: 0px; bottom: 0px}
}
div{
    position: relative;
    background-color: aqua;
    animation: box 5s;
    

}